footer {
    background-color: var(--brand-4);
    padding: 20px;
    text-align: center;
    gap: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer p {
    font-size: 14px;
    color: var(--black);
}
  

footer a {
    color: var(--black);
    text-decoration: none;
}

.box_redes__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
  
.box_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    
}

.sobre_footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.img_eu {
    display: flex;
    width: 80px;
    height: 50%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.p_foot {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    width: 500px;
}


.social-media {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.h3a {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 10px;
}

.h3b {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 10px;
}

.rede_titulo {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 10px;
}

.titulo_contato {
    font-size: 16px;
    color: var(--black);
    margin-bottom: 10px;
}

.social-media a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    line-height: 30px;
    text-align: center;
}

.copyrigth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.cnpj_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
    color: var(--brand-4);
}